.card-dica{
    background-color: #C4C4C4;
    word-break: break-all;
}
.h1{
    font-size: 29px;
}
.p{
    font-size: 35px;
    
}
.container-btns{
    width: 100%;
    height: 84px;
    background-color: #BAB5B5;
}
.curtir{
    width: 50%;
    height: 100%;
}
.salvar{
    width:50%;
    height: 100%;

}