.card-curso{
    align-items: center;
    justify-content: center;
    background-color: #C4C4C4;
    word-break: break-all;
    margin-bottom: 10px;
}
.h1{
    font-size: 29px;
}
.p{
    font-size: 35px;
    
}