$p: rgb(234, 235, 237);

@mixin screen {
  padding: 10%;
  background: $p;
  display: flex;
  flex-direction: column;
}

.container-dicas {
  @include screen;
  margin-top: 40px;

  user-select: none;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
