.menu-inferior{
    position: fixed;
    top: 99%;
    width: 100vw;
    margin-top: -2.5em;
}
button{
    width: 33vw;
    height: 50px;
    color: rgb(0, 0, 0);
    background-color: #86AFDF;
    font-size: 30px;
}