.card-dica {
  background-color: #C4C4C4;
  word-break: break-all;
  margin: 10px 10px 18px 10px;
  border-radius: 10px;
  padding: 2%;
  //   width: 100%;
}

p {
  padding: 4%;
  font-size: 25px;
}

span {
  padding-left: 10%;
}

.bts {
  padding: 0;
  border: none;
  background: none;
  color: black;
  font-size: 30px;
  width: 50%;
  height: 100%;
  padding: 3%;
}

.bts:hover {
  background-color: rgb(88, 127, 137);
  color: white;
  border-radius: 0rem 0rem 1.3rem 1.3rem;
}
