<div class="container-home">
    <h1>New 2000</h1>
    <p>
        A new 2000 é uma plataforma voltada para o ensino de novas tecnologias para todos os públicos.
        Aqui você conta com:<br>

        -Dicas diárias.<br>
        -Cursos pensados nas suas necessidades.<br>
        -Fórum seguro para tirar todas as suas duvidas.
    </p>

    <div class="container-btn" routerLink="/login">
        <app-btn-default title="Entrar" color="#86AFDF" block=true width="250px" height="50px"></app-btn-default>
    </div>
</div>