.container-barra-superior{
display: flex;
flex-direction: row;
justify-content: space-between;
position: fixed;
top: 0%;
width: 100vw;
height: 40px;
background-color: yellow;
}
.sair{
height: 100%;
width: 40px;
background-color: red;
}
.voltar{
    height: 100%;
    width: 40px;
    background-color: red;
}
.perfil{
    height: 100%;;
    width: 40px;
    background-color: blue;
}