.container-barra-superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0%;
    width: 100vw;
    height: 40px;
    background-color: rgb(243, 243, 243);
}

.sair {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    height: 29%;
    width: 60px;
}

.voltar {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    height: 29%;
    width: 60px;
}

.perfil {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    height: 29%;
    width: 60px;
}