<div class="container-criar-pergunta">
  <form [formGroup]="formCadastroPergunta" (ngSubmit)="onSubmit()">
    <h1>Tire sua duvida:</h1>

    <div class="box">
      <div class="titulo_pergunta">
        <label for="titulo_pergunta">
          Titulo:
          <input placeholder="Título da sua dúvida." type="text" id="titulo_pergunta"
            formControlName="tituloPergunta" />
        </label>
      </div>

      <div class="corpo_pergunta">
        <label for="corpo_pergunta">
          Pergunta:
          <textarea name = "Pergunta"  cols="40" rows="5" placeholder="Descreva sua dúvida." id="corpo_pergunta" formControlName="corpoPergunta"></textarea>
        </label>
      </div>
    </div>
    
    <div class="options">
      <div class="container-btn">
        <app-btn-default title="Publicar" color="#86AFDF" block="true" buttonType="submit" width="250px" height="50px"
          [disabled]="!formCadastroPergunta.valid"></app-btn-default>
      </div>
    </div>
  </form>
</div>