<div *ngIf="buttonType == 'submit'">
  <button
    type="submit"
    class="btn btn-nav-verde"
    (click)="onClick()"
    [disabled]="disabled"
    style="background-color:{{ color }}"
    [ngClass]="{ tamanho: block == 'true' }"
    attr.data-bs-toggle="{{ toggle }}"
    attr.data-bs-target="{{ target }}"
    attr.data-bs-dismiss="{{ dismiss }}"
  >
    {{ title }}
  </button>
</div>

<div *ngIf="buttonType != 'submit'">
  <button
    type="button"
    class="btn btn-nav-verde"
    (click)="onClick()"
    [disabled]="disabled"
    style="background-color:{{ color }}"
    [ngClass]="{ tamanho: block == 'true' }"
    attr.data-bs-toggle="{{ toggle }}"
    attr.data-bs-target="{{ target }}"
    attr.data-bs-dismiss="{{ dismiss }}"
  >
    {{ title }}
  </button>
</div>
