.btn-nav-verde{
    font-size: 32px;
    color: #fff;
    border:none;
    border-radius: 16px;
}
.btn-nav-verde i{

}
.btn-nav-verde .separator{
    height: 100%;
    margin-right: 5px;
}
.tamanho{
    width: 100%;
}